@font-face {
  font-family: VCR_OSD_MONO;
  src: url('../public/VCR_OSD_MONO.ttf');
}

img {
  /* filter: drop-shadow(6px 0px 3px #14212b) drop-shadow(-6px 0px 3px #2b1414) blur(0.5px); */
}

body {
  margin: 0;
  font-family: VCR_OSD_MONO;
}

svg {
  /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

.progressbar_border {
  border: 3px solid #70B959;
  /* filter: drop-shadow(6px 0px 3px #14212b) drop-shadow(-6px 0px 3px #2b1414) blur(0.5px); */
}

.progressbar_width {
  background: url('../public/images/bar-bg.svg');
  background-size: 100% 100%;
  height: 31px;
  border-radius: 0;
  width: 438px;
  overflow: hidden;
  border: 4px solid black;
}

.progressbar_width>div {
  height: 45px !important;
}

.progressbar_inner_bg {
  background: #70B959;
  height: 31px;
  border-radius: 0;
  width: 438px;
  border: 4px solid black;
  overflow: hidden;
}

@media (width < 768px) {

  .progressbar_width,
  .progressbar_inner_bg {
    width: 150px;
    height: 13px;

  }
}