body {
  margin: 0;
  font-family: 'VCR OSD Mono', sans-serif;
}

.progressbar_border {
  border: 3px solid #70B959;
}

.progressbar_width {
  background: url('../public/images/bar-bg.svg');
  background-size: cover;
  height: 45px;
  border-radius: 0;
  width: 450px;
  overflow: hidden;
  border: 5px solid black;
}

.progressbar_width>div {
  height: 45px !important;
}

.progressbar_inner_bg {
  background: #70B959;
  height: 45px;
  border-radius: 0;
  width: 450px;
  border: 5px solid black;
  overflow: hidden;
}

@media (width < 768px) {

  .progressbar_width,
  .progressbar_inner_bg {
    width: 150px;
    height: 30px;

  }
}