.pdrive_hero_section {
  border: 3px solid #70b959;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 100px);
  box-shadow: 6px 0px 3px #14212b, -6px 0px 3px #2b1414;
  filter: blur(0.5px);
}

.pdrive_landing_page {
  background-color: #0d0c0c;
  padding: 45px;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

.cnt_walet_text {
  padding-bottom: 5px;
  border-bottom: 3px solid #70B959;
  text-decoration: none;
  text-align: left !important;
}

.font_style_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #70B959;
  text-align: center;
  text-shadow: 6px 0px 3px #14212b, -6px 0px 3px #2b1414;
  filter: blur(0.5px);
}

/* .cnt_walet_text:link {
  color: #B5FF9E;
} */

/* visited link */
.cnt_walet_text:visited {
  color: #70B959;
}

.pdrive_page_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* mouse over link */
a.cnt_walet_text:hover {
  color: #B5FF9E;
}

/* selected link */
.cnt_walet_text:active {
  color: #B5FF9E;
}

.pdrive_logo_box {
  display: flex;
  align-items: flex-start;
}

.pdrive_logo_img {
  background-color: #0d0c0c;
  margin-left: -32.5px;
  margin-top: -32.5px;
  padding: 30px;
}

.pdrive_logo_src {
  border: 3px solid #70B959;
  padding: 10px 32px;
  box-shadow: 6px 0px 3px #14212b, -6px 0px 3px #2b1414;
  filter: blur(0.5px);

}

.pdrive_page_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cnt_walet_dtails {
  padding-bottom: 5px;
  border-bottom: 3px solid #70B959;
  margin-top: 30px;
  margin-right: 30px;
}

.mint_status_text {
  margin-bottom: 30px;
}

.pdrive_page_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100% - 60px);
  padding: 30px;
}

.main_logo_pepe {
  width: 69.5%;
  height: auto;
  margin: auto;
}

.pdrive_mint_steps {
  margin-top: 60px;
  text-align: center;
}

.cnt_wallet {
  margin-top: 30px;
}

.cnt_wallet_adr {
  padding-top: 8px;
  text-align: left;
}

.mint_btn {
  background-color: #70B959;
  color: #0d0c0c;
  padding: 5px;
  margin: 0 5px;
  font-size: 24px;
  cursor: pointer;
  text-shadow: none;
  filter: drop-shadow(6px 0px 3px #14212b) drop-shadow(-6px 0px 3px #2b1414) blur(0.5px);
}

.mint_btn:hover {
  background-color: #B5FF9E;
}

.hr_line {
  background-color: #B5FF9E;
  width: 85%;
  margin: 0;
  padding: 0;
  border: 3px solid #B5FF9E;
}

.mb {
  margin-bottom: 10px;
}

.extra_lh {
  line-height: 1.2 !important;
}

.count_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow_flex {
  display: flex;
  flex-direction: column;
}

.arrow_flex span {

  cursor: pointer;

}

.arrow_flex span:hover {
  color: #B5FF9E;
}

.showinmobile_f {
  display: none;
}

.showinmobile {
  display: none;
}

.showindesktop {
  display: block;
}

.showindesktop_f {
  display: flex;
}

@media (width < 768px) {
  .showinmobile {
    display: block;
  }

  .showinmobile_f {
    display: flex;
  }

  .showindesktop {
    display: none;
  }

  .showindesktop_f {
    display: none;
  }

  .pdrive_mint_steps {
    margin-top: 30px;
  }

  .mint_status_text {
    margin-bottom: 15px;
  }

  .main_logo_pepe {
    width: 75%;
    margin: auto;
  }

  .pdrive_logo_img {
    background-color: #0d0c0c;
    margin-left: -17.5px;
    margin-top: -17.5px;
    padding: 15px;
  }

  .pdrive_hero_section {
    min-height: calc(100vh - 40px);
    width: unset;

  }

  .pdrive_landing_page {
    padding: 15px;
    height: calc(100vh - 30px);
  }

  .pdrive_page_top {
    display: block;
    justify-content: unset;
  }

  .eth_details_box_desk {
    display: none;
  }

  .cnt_wallet {
    margin-top: 15px;
  }

  .cnt_walet_dtails {
    margin-bottom: 5px;
    margin-top: 0px;
    margin-right: 0;
    text-align: left !important;
    border: none !important;
    font-size: 12px !important;
    margin-top: 10px !important;
  }

  .font_style_1,
  .cnt_wallet_adr {
    font-size: 18px;
    line-height: 1;
  }

  .cnt_walet_text {
    text-align: left;
  }

  .pdrive_logo_src {
    padding: 5px 21.5px;
  }

  .pdrive_logo_src img {
    width: 45px;
    height: auto;
  }

  .mint_btn {
    font-size: 16px;
  }

  .pdrive_page_bottom {
    padding: 15px;
    width: calc(100% - 30px);
  }

  .pdrive_page_sound img,
  .pdrive_page_social img {
    width: 45px;
    height: auto;
  }
}


@media (width > 767px) and (width < 992px) {

  .font_style_1,
  .cnt_wallet_adr {
    font-size: 20px;
  }

  .pdrive_logo_src {
    padding: 8px 22px;
  }

  .pdrive_logo_src img {
    width: 45px;
    height: auto;
  }




  .mint_btn {
    font-size: 18px;
  }

  .pdrive_page_sound img,
  .pdrive_page_social img {
    width: 60px;
    height: auto;
  }
}

@media (width > 991px) and (width < 1200px) {

  .font_style_1,
  .cnt_wallet_adr {
    font-size: 24px;
  }

  .pdrive_logo_src img {
    width: 55px;
    height: auto;
  }





  .mint_btn {
    font-size: 20px;
  }

  .pdrive_page_sound img,
  .pdrive_page_social img {
    width: 70px;
    height: auto;
  }
}

@media (width > 1500px) {

  .pdrive_hero_section {
    min-height: unset;
    height: calc(100vh - 100px);
    max-height: 1024px;
  }
}